@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-inter text-foreground;
    font-family: "Inter", "Noto Sans KR", "Noto Color Emoji", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  /* HeroCards background shadow */
  .bg-shadow {
    position: absolute;
    background: hsl(var(--primary) / 0%);
    border-radius: 24px;
    rotate: 35deg;

    width: 260px;
    top: 200px;
    height: 400px;
    filter: blur(150px);
    animation: shadow-slide infinite 4s linear alternate;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 80%);
      right: 160px;
    }
  }

  @media (max-width: 1024px) {
    .bg-shadow {
      top: 70px;
    }

    @keyframes shadow-slide {
      from {
        background: hsl(var(--primary) / 20%);
        right: 460px;
      }
      to {
        background: hsl(var(--primary) / 50%);
        right: 160px;
      }
    }
  }

  @media (max-width: 768px) {
    .bg-shadow {
      top: 70px;
      width: 100px;
      height: 350px;
      filter: blur(60px);
    }

    @keyframes shadow-slide {
      from {
        background: hsl(var(--primary) / 20%);
        right: 280px;
      }
      to {
        background: hsl(var(--primary) / 30%);
        right: 100px;
      }
    }
  }
}


